<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
  <form (ngSubmit)="submit()">
    <div class="row">
      <div class="col-4">
        <h3>Habits</h3>
        <input type="text" [(ngModel)]="habits" name="input1">
        <button type="submit">Submit</button>
        <h4>{{habits}}</h4>
      </div>
      <div class="col-4">
        <h3>Daily</h3>
        <input type="text" [(ngModel)]="dalies" name="input2">
        <button type="submit">Submit</button>
        <h4>{{dalies}}</h4>
      </div>
      <div class="col-4">
        <h3>To Do</h3>
        <input type="text" [(ngModel)]="toDo" name="input3">
        <button type="submit">Submit</button>
        <h4>{{toDo}}</h4>
      </div>
    </div>
  </form>
</body>
</html>