.input-group-text {
    color: rgb(19, 12, 77);
  }
  form {
    margin-left: 50px;
  }
  .container {
    border: 1px solid black;
    background-color:lightgray;
  }
  button {
    background-color:rgb(19, 12, 77);
    color: white;
  }
  button:active {
    background-color:darkblue;
  }

  