nav {
  background-color: rgb(19, 12, 77);
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 50%;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
}
.dropdown-menu {
  border: none;
}
.dropdown {
  margin-right: 10px;
  margin-left: 10px;
}
.dropdown:hover,
.dropdown:focus {
  border-color: rgb(6, 6, 97);
}